@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .header {
    display: none; /* Hide the header on smaller screens */
  }

  .header-small {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #030229ef;
    border-bottom: 3px solid rgba(158, 33, 247, 0.85);
  }

  .header-small h1 {
    margin-left: 10px;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgba(158, 33, 247, 0.85);
    background-color: transparent;
  }
  .menu-icon {
    text-align: right;
    display: block;
    margin-bottom: 5px;
    background-color: transparent;
  }

  .material-icon {
    background-color: transparent;
  }

  .menu-icon i {
    font-size: 60px;
    margin-top: 0%;
    color: rgba(158, 33, 247, 0.85);
    background-color: transparent;
  }

  #nav-small {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 81.5px;
    left: 0;
    background-color: #030229ef;
    z-index: 999;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
    padding-left: 1rem;
  }

  #nav-small.show {
    height: 150px;
  }

  #nav-small button {
    font-size: 20px;
    color: rgba(226, 232, 240, 0.85);
    background-color: transparent;
    border: none;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
  }

  #nav-small button a {
    text-decoration: none;
    background-color: transparent;
  }

  .nav-small.expanded {
    width: 50%; /* Set the width to half of the screen when expanded */
  }

  .nav-small button {
    font-size: 20px;
    color: rgba(226, 232, 240, 0.85);
    background-color: transparent;
    border: none;
    margin-left: 10px;
  }

  /* intro */

  .intro {
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10em;
  }
  .intro h1 {
    margin-bottom: 20px;
  }

  .intro img {
    margin-top: 3em;
    width: 100%;
  }

  .coding-guy {
    width: 370px;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    clip-path: polygon(0% 0%, 100% 10%, 50% 100%, 0% 20%);
    margin-right: 0;
  }

  .intro p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  /* skills */

  .skills {
    margin-top: 8em;
  }

  .skills ul {
    flex-direction: column;
  }

  .skills ul div {
    width: 100%;
  }

  /* Projects */

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .projects-title {
    margin-top: 10em;
    text-align: center;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgba(158, 33, 247, 0.85);
  }

  .next {
    display: none;
  }
  .prev {
    display: none;
  }

  .next-prev-smaller-screen {
    display: block;
    text-align: center;
  }

  .active {
    width: 85%;
  }

  .tools-used {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .tools-used p {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .github-icon:hover {
    width: 50px;
  }

  .project-links i:hover {
    font-size: 53px;
  }

  /* contact */

  .contact-box {
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
  }

  #typewriter {
    overflow: hidden;
    color: #fff;
    font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.1em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    text-align: left;
    width: 270px;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 270px;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(204, 0, 255);
    }
  }
}
